html, body {
	font-family: 'Dosis', sans-serif;
}

body {
	width: 100%;
	margin: 0;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 32px;
}

#intro {
	background: url('/images/banner_img.jpg') no-repeat center center fixed;
	width: 100%;
	height: 600px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.7;
}

#intro h1 {
	margin: 0;
	color: white;
	font-size: 110px;
	padding: 1%;
	text-align: center;
}

#intro h3 {
	padding: 5%;
	font-weight: bold;
	color: white;
	margin: 0;
}

#about h3 {
	margin: 0;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 2%;
	padding-bottom: 1%;
}

#about {
	background-color: #B2CC64;
}

.centertext {
	text-align: center;
	color: white;
}

.arrow-down {
	text-align: center;
}

#posts {
	min-height: 500px;
	background-color: #DEDEDE;
	padding-bottom: 30px;
}

a.read-more {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
}

a.read-more:link {
	color: #B2CC64;
	text-decoration: none;
}

a.read-more:hover {
	color: white;
	text-decoration: none;
}

a.read-more:visited {
	color: #B2CC64;
	text-decoration: none;
}

a.read-more:active {
	color: white;
	text-decoration: none;
}

.post {
	padding: 5%;
}

.entry {
	font-size: 24px;
	display: inline-block;
}

.date {
	font-size: 32px;
	color: white;
	font-weight: bold;
}

.preview_img img {
	width: 250px;
	height: auto;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
}

.post_img img {
	width: 600px;
	height: auto;
}

.feature_img img {
	width: 400px;
	height: auto;
}

.feature_img {
	text-align: center;
}

footer {
	height: 150px;
	text-align: center;
	background-color: #B2CC64;
}

.foot-text {
	padding-top: 25px;
	padding-bottom: 20px;
	font-size: 18px;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}